<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            My first App
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>Esta aplicación dice</strong>
        <p>Me pones en tensión cuando bailas <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=TPw7g2ZkpZw">asi</a></p>
    </div>
</ion-content>